; Move this file to /data/public-inbox/config/config
; if you are using the default folder configuration that I am using.
[publicinbox]
	wwwlisting = all
	; I have a very very ugly css that I will NOT share!
	;css = /workdir/.public-inbox/site.css

[publicinbox "linux-patch-review"]
	address = linux-patch-review@example.com
	url = https://myinternalsite.example.com/lore/linux-patch-review/
	inboxdir = /git-repos/linux-patch-review.git
	mainrepo = /git-repos/linux-patch-review.git
	newsgroup = inbox.linux-patch-review
	indexlevel = full
	; for public-inbox-watch
	watch = maildir:/mbox/INBOX
	;watch = maildir:/mbox/imported-emails/sane.lpr.mdir/.2020-01_mbx


	; optional, emails that don't have a header matching
       	; value will be skipped
	watchheader = List-Id:<linux-patch-review@list.example.com>


[publicinbox "support"]
	address = support@example.com
	url = https://myinternalsite.example.com/lore/support/
	inboxdir = /git-repos/support.git
	mainrepo = /git-repos/support.git
	newsgroup = inbox.support
	indexlevel = full
	; for public-inbox-watch
	watch = maildir:/mbox/INBOX

	; optional, emails that don't have a header matching
       	; value will be skipped
	watchheader = List-Id:<support@list.example.com>

